<div id="section-button">
    <div class="containerButton">
        <a href="{{ section.settings.button }}" class="mybutton" style="color: {{ section.settings.colortxt }}; background-color: {{ section.settings.colorbtn }};" >{{ section.settings.textbutton }}</a>
    </div>
</div>

{% schema %}
{
    "name": "Button",
    "settings": [
        {
            "id": "button",
            "type": "text",
            "label": "Button",
            "default": "Button"
        },
        {
            "id": "textbutton",
            "type": "text",
            "label": "Button text",
            "default": "Clique ici"
        },
        {
            "id": "colortxt",
            "type": "color",
            "label": "Couleur du texte",
            "default": "#FFFFFF"
        },
        {
            "id": "colorbtn",
            "type": "color",
            "label": "Couleur du bouton",
            "default": "#000000"
        }
    ]
    ,
    "presets": [
        {
            "name": "Button",
            "category":"Button"
        }
    ]
}
{% endschema %}
